attrs>=25.3.0
attrs>=25.3.0
click>=8.2.1
cmake>=4.0.2
coverage>=7.9.0
docutils>=0.21.2
fs>=2.4.16
furo>=2024.8.6
future>=1.0.0
igraph>=0.11.9
lazydocs>=0.4.8
matplotlib>=3.10.3
mock>=5.2.0
mypy-extensions>=1.1.0
ninja>=1.11.1.4
numpy>=2.3.0
openpyxl>=3.1.5
packaging>=25.0
pandas>=2.3.0
pdoc>=15.0.4
pint>=0.24.4
pybind11-stubgen>=2.5.4
ruff>=0.11.13
scikit-build>=0.18.1
scikit-learn>=1.7.0
scipy>=1.15.3
sphinx-automodapi>=0.20.0
sphinx-copybutton>=0.5.2
sphinx>=8.2.3
sphinxext-opengraph>=0.10.0
twine>=6.1.0
unittest-xml-reporting>=3.2.0
wheel>=0.45.1
rstcheck>=6.2.5
