attrs>=21.2.0
build>=0.7.0
cached-property>=1.5.2
cachelib>=0.1.1
docutils>=0.17.1
fs>=2.4.13
future>=0.18.2
matplotlib>=3.4.2
mock>=4.0.3
mypy-extensions>=0.4.3
numpy>=1.20.3
path>=15.1.2
pathspec>=0.8.1
pathtools>=0.1.2
pdoc>=8.0.0
pkginfo>=1.7.0
scikit-learn>=0.24.2
scipy>=1.6.0
packaging>=21.0
pandas>=1.2.4
twine>=3.4.2
igraph>=0.9.6
lazydocs>=0.4.5
click>=7.1.2
coverage>=6.0.1
furo>=2021.10.9
ninja>=1.10.2.2
cmake>=3.21.4
scikit-build>=0.12.0
